.confirm-meeting-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
  height: 100%;
  text-align: center;

  .grid.two-cols {
    grid-template-rows: 1fr 1fr;

    h2 {
      margin-bottom: 0;
    }

    h2 + h3 {
      margin-top: 0;
    }

    .align-center {
      flex-direction: column;
    }
  }
}

.confirm-meeting-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 0;
  }
}
