<div class="confirm-meeting-grid">
  <div class="confirm-meeting-header">
    <h1>Confirm meeting</h1>
    <h3>Exchange words to confirm your meeting</h3>
  </div>
  <div class="grid two-cols">
    <div *ngIf="activeTraveler" class="align-center">
      <img [src]="sanitizeAvatar(activeTraveler.avatar)" alt="">
    </div>
    <div *ngIf="activeTraveler" class="align-center">
      <h2>Marco</h2>
      <h3>Yours word</h3>
    </div>
    <div *ngIf="matchedTraveler" class="align-center">
      <mat-form-field>
        <input matInput>
      </mat-form-field>
      <h3>{{ getFirstName(matchedTraveler.name) }}'s word</h3>
    </div>
    <div *ngIf="matchedTraveler" class="align-center">
      <img [src]="sanitizeAvatar(matchedTraveler.avatar)" alt="">
    </div>
  </div>

  <colored-button (click)="confirm()">
    CONFIRM
  </colored-button>
</div>
