/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$background-color: #fafafa;

html, body {
  height: 100%;
  background: $background-color;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$size-1: 10px;
$size-2: 20px;
$size-3: 25px;

.app-wrapper {
  padding: $size-2;
}

.mat-tab-header {
  border: 0;
  margin: auto;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: $size-1;
}

.m-2 {
  margin: $size-2;
}

.m-3 {
  margin: $size-3;
}
