/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$background-color: #fafafa;

html, body {
  height: 100%;
  background: $background-color;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary: #3f51b5;


$size-0: 0px;
$size-1: 10px;
$size-2: 20px;
$size-3: 25px;

$size-map: (
  '0': $size-0,
  '1': $size-1,
  '2': $size-2,
  '3': $size-3
);

$direction-map: (
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left'
);

.app-wrapper {
  padding: $size-2;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  opacity: .54;
}

.grid {
  display: grid;

  &.two-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &.three-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &.four-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  &.five-cols {
    grid-template-columns: repeat(5, 1fr);
  }
}

.mat-tab-header {
  border: 0;
  margin: auto;
}

.mat-tab-label {
  color: $primary;
  font-weight: bold;
}

@each $no, $size in $size-map {
  .m-#{$no} {
    margin: $size;
  }

  .p-#{$no} {
    padding: $size;
  }

  @each $key, $name in $direction-map {
    .m#{$key}-#{$no} {
      margin-#{$name}: $size;
    }

    .p#{$key}-#{$no} {
      padding-#{$name}: $size;
    }
  }
}

.above-buttons-area {
  height: calc(100vh - 125px);
  overflow-y: scroll;
}

.next-button-wrapper {
  height: 125px;
  margin-top: 48px;
  text-align: center;
}

.colored-button {
  display: block;
  margin: auto;
  width: 80%;

  button {
    background: linear-gradient(90deg, #2f05b0, #cd4470);
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
  }
}
