<main class="location">
  <div>
    Hi [name],<br>
    welcome to
  </div>
  <div class="loader" *ngIf="showProgress()">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="!showProgress()">
    <div>
      <mat-form-field>
        <mat-select>
          <mat-option *ngFor="let loc of locations" [value]="loc">
            {{ loc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button color="primary">
        Find somebody to hang out
      </button>
    </div>
  </div>
</main>
