<div class="location-grid">
  <div class="welcome-header">
    <h2>
      Welcome to
    </h2>
    <app-airport-list [airports]="locations"></app-airport-list>
    <h2 class="question-header">
      What do you want to do?
    </h2>
  </div>

  <div class="grid two-cols pt-2 pb-2" style="margin: 0 50px;">
    <app-activity *ngFor="let activity of activities"
                  [name]="activity.name"
                  [active]="activityActive(activity)"
                  [imageUrl]="activity.imageUrl"
                  (click)="toggleActivity(activity)"></app-activity>
  </div>
  <div class="next-button-wrapper">
    <colored-button class="m-3">
      <button mat-flat-button color="primary" (click)="next()">
        NEXT
      </button>
    </colored-button>
  </div>
</div>
