.welcome-header {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  > h2 {
    text-align: center;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: bold;
  }

  app-airport-list {
    display: flex;
    justify-content: center;
  }
}

.question-header {
  margin-bottom: 48px;
  text-align: center;
}

.loader {
  margin: 50px 0;
}

.location-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr 76px;
  height: 100%;
}
