<div class="profile-avatar">

  <div class="profile-container-image">

    <div class="profile-image">

    </div>

  </div>

</div>

<div class="profile-info">

  <h1>
    {{traveler.name}}
  </h1>

  <h2>
    {{traveler.nationality}}
  </h2>

  <p>
    <span *ngFor="let lang of traveler.languages; last as last">
        {{lang}} <span *ngIf="!last">*</span>
    </span>
  </p>

</div>

<mat-tab-group>
  <mat-tab label="Airports">
    <app-traveler-airports></app-traveler-airports>
  </mat-tab>
  <mat-tab label="Foreigners">
    <app-traveler-badges></app-traveler-badges>
  </mat-tab>

</mat-tab-group>




