mat-card {
  margin-bottom: 8px;
}

.container {
  margin: 10px;
}

.description {
  cursor: pointer;
  text-align: justify;
  overflow: hidden;
  max-height: 40px;
  transition: max-height 0.4s;
}

.full-text {
  max-height: 9999px;
}

.top-row {
  display: flex;
  height: 40px;

  .image {
    flex-grow: 1;

    .logo {
      background: #E2E3F9;
    }
  }

  .title {
    flex-grow: 4;
    text-align: left;
    margin-top: 10px;
  }

  .ranking {
    flex-grow: 1;
    text-align: right;
    margin-top: 10px;
  }

}
