<mat-toolbar color="primary">
  <mat-toolbar-row>
    Terminal
  </mat-toolbar-row>
</mat-toolbar>

<main class="app-wrapper">
  <mat-card>
      <mat-card-title>Material2 Angular</mat-card-title>
      <mat-card-content>This should add material2 to angular</mat-card-content>
  </mat-card>
  <mat-card>
      <mat-card-title>Current location</mat-card-title>
      <mat-card-content>
        Latitude: {{location.getLatitude()}}<br>
        Longitude: {{location.getLongitude()}}<br>
      </mat-card-content>
  </mat-card>
  <router-outlet></router-outlet>
</main>


