<div class="check-in-grid">
  <div class="check-in-wrapper">
    <h2>How much time do you have?</h2>
    <div>
      <mat-form-field class="time-input">
        <input #hours matInput value="1" type="number">
      </mat-form-field>

      <span class="mr-3">h</span>

      <mat-form-field class="time-input">
        <input #minutes matInput value="15" type="number">
      </mat-form-field>
      <span>m</span>
    </div>
  </div>
  <div class="next-button-wrapper">

    <colored-button>
      <button mat-flat-button color="primary" (click)="next(hours, minutes)">
        NEXT
      </button>
    </colored-button>
  </div>
</div>
