.check-in-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 76px;
}

.check-in-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-input {
  width: 50px;

  input {
    text-align: center;
  }
}
