.search-progress-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-loader-img {
  height: 50%;
  width: 100%;
  background: #C4C4C4;
}
